body{
  background-color: #f3ebdf;
}
h1 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
}
.one {
  color: black;
  font-family: 'Radio Canada', sans-serif; 
}
hr.one {
  height: 0.5px;
  background: grey;
  width: 277px;
}
hr.two {
  border: none;
  height: 0.5px;
  background: grey;
  width: 60%;
  margin-left: 0px;
}
i {
  color: rgb(34, 34, 34);
  font-family: 'Radio Canada', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
}
a:link {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* visited link */
a:visited {
  color: purple;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* mouse over link */
a:hover {
  color: tomato;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
} 

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
h2 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 700;
}
h3 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 600;
}
.two {
  color: black;
  font-family: 'Radio Canada', sans-serif;
}
li {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
code.point {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  padding-left: 25px;


}
code.normal {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  padding-left: 10px;
}
span.code {
  
  display: inline;
  padding: .25em 0;
  background: #f3dec0;
  color: black;
  box-shadow: 10em 0 5px #f3dec0, -1.6em 0 5px #f3dec0;

}
span.codeN {
  display: inline;
  padding: .25em 0;
  background: #f3dec0;
  color: black;
  box-shadow: 8em 0 5px #f3dec0, -0.5em 0 5px #f3dec0;
}