body{
  background-color: #f9f6f2;
}
h1 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
}
.one {
  color: black;
  font-family: 'Radio Canada', sans-serif; 
}
hr.one {
  height: 0.5px;
  background: grey;
  width: 277px;
}
hr.two {
  border: none;
  height: 0.5px;
  background: grey;
  width: 60%;
  margin-left: 0px;
}
i {
  color: rgb(34, 34, 34);
  font-family: 'Radio Canada', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
}
a:link {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* visited link */
a:visited {
  color: purple;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* mouse over link */
a:hover {
  color: tomato;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
} 

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
h2 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 700;
}
h3 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 600;
}
.two {
  color: black;
  font-family: 'Radio Canada', sans-serif;
}
li {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
code.point {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  padding-left: 25px;


}
code.normal {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  padding-left: 10px;
}
span.code {
  
  display: inline;
  padding: .25em 0;
  background: #f1e2cc;
  color: black;
  box-shadow: 10em 0 5px #f1e2cc, -1.6em 0 5px #f1e2cc;

}
span.codeN {
  display: inline;
  padding: .25em 0;
  background: #f1e2cc;
  color: black;
  box-shadow: 8em 0 5px #f1e2cc, -0.5em 0 5px #f1e2cc;
}
 /* The navigation bar */
 .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
} 